# dev || production
ENVIRONMENT="production"

# === ENV VARIABLES FOR LOCALHOST ===
# Pots deixar-ho buit si només utilitzaràs Docker

# index.js i prisma.config.ts
LOCAL_PORT=3001
LOCAL_DATABASE_URL="mysql://root:root_password@localhost:3306/nom_de_la_teva_database"

# ./config/prisma.js
LOCAL_ADAPTER_HOST=localhost
LOCAL_ADAPTER_PORT=3306
LOCAL_ADAPTER_USER=root
LOCAL_ADAPTER_PASSWORD=root_password
LOCAL_ADAPTER_DATABASE=nom_de_la_teva_database

# === ENV VARIABLES FOR DOCKER ===
# Pots deixar-ho buit si només utilitzaràs localhost

# index.js & prisma.config.ts
DOCKER_PORT=3001
DOCKER_DATABASE_URL="mysql://root:root_password@db:3306/nom_de_la_teva_database"

# ./config/prisma.js
DOCKER_ADAPTER_HOST=db
DOCKER_ADAPTER_PORT=3306
DOCKER_ADAPTER_USER=root
DOCKER_ADAPTER_PASSWORD=root_password
DOCKER_ADAPTER_DATABASE=nom_de_la_teva_database

# === NODEMAILER CONFIG ===
# La configuració de nodemailer funciona igual tant en desencvolupament local com en Docker

# ./config/nodemailer.js
TRANSPORTER_SERVICE=
TRANSPORTER_USER=
TRANSPORTER_APP_PASS=
