MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=nom de la base de dades # (ha de coincidir amb "DOCKER_ADAPTER_DATABASE" del . env del backend)

PHPMYADMIN_PORT=8089 # (Es opcional, Agafa el port per defecte )